/*
 * 主体部分公共样式
 *    全局类的样式, 必须以 app- 作为开头
 */

/* input背景色默认是黄色 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/*滚动条样式--webkit*/

/* 整体 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
  -webkit-border-radius: 6px;
  cursor: pointer;
}

/* 内层轨道 */
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  cursor: pointer;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  height: 50px;
  -webkit-border-radius: 6px;
  outline-offset: -2px;
  background: #cccccc;
  border: 2px solid #cccccc;
  cursor: pointer;
}

/* 滑块悬停 */
::-webkit-scrollbar-thumb:hover {
  height: 50px;
  background: #d7d5d5;
  border: 2px solid #d7d5d5;
  -webkit-border-radius: 6px;
  cursor: pointer;
}

/*滚动条样式--ie*/
body {
  scrollbar-face-color: #014179; /*滚动条颜色*/
  scrollbar-highlight-color: #014179;
  scrollbar-3dlight-color: #014179;
  scrollbar-darkshadow-color: #014179;
  scrollbar-Shadow-color: #014179; /*滑块边色*/
  scrollbar-arrow-color: #014179; /*箭头颜色*/
  scrollbar-track-color: #fefefe; /*背景颜色*/
}

.width-percent-100 {
  width: 100% !important;
}

.height-percent-50 {
  height: 50% !important;
}

.height-percent-100 {
  height: 100% !important;
}

.margin-bottom-clear {
  margin-bottom: 0px !important;
}

/* 背景透明 */
.app-transparent {
  background: transparent;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  height: 100%;
  width: 100%;
  min-width: 1250px;
}

[v-cloak] {
  display: none;
}
