/*
 * 定制element-ui的样式文件
 */

.el-dropdown-menu--small .el-dropdown-menu__item {
  padding: 0 30px;
  line-height: 32px;
}

.el-popper[x-placement^=bottom]{
  margin-top: 8px;
}

.header .user .item.user-info .el-dropdown .el-dropdown-link{
  font-size: 13px;
}

.el-popover{
  padding: 4px 12px;
}

/*form*/
.el-form.app-form-clear-margin-bottom{
  margin-bottom: -18px;
}

.el-form-item__label{
  font-size: 13px;
}

/*.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{*/
  /*margin-bottom: 10px;*/
/*}*/

/*select*/
.el-select-dropdown__item{
  font-size: 13px;
}

.el-form--inline .el-select {
  width: 200px;
}

/*table*/
.el-table--border, .el-table--group{
  border: none;
}

.el-table--small th {
  padding: 0;
  background-color: #f7f7f7;
  color: #333333;
  font-weight: normal;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
}

.el-table--small td{
  padding: 0;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  font-size: 13px;
  text-align: left;
}

.el-table--border::after, .el-table--group::after{
  background-color: rgba(0, 0, 0, 0);
}

.el-table--border td .table-column-operate-btn {
  text-align: left;
}

.el-date-editor .el-range-separator {
  width: 20px;
}

.el-table .cell{
  font-size: 13px;
}

.el-table .cell .operation-line{
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #dedede;
  position: relative;
  top: 2px;
  margin: 0 12px;
}

.el-table .cell .text-color-red{
  color: #f01011;
}

.el-table .cell .text-color-blue{
  color: #3b9ef1;
}

.el-table .cell .text-color-green{
  color: #8dbc38;
}

.el-table .cell .el-button.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
}

.el-table .path-column .cell .name-wrapper{
  word-break: normal;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

/*tab*/
.el-tabs__header {
  background-color: transparent;
  border: 1px solid #e8e8e8;
  padding: 0 15px;
  margin: 0 0 20px;
}
.el-tabs__nav-wrap::after {
  height: 0px;
}
.el-tabs--card>.el-tabs__header {
  padding: 0;
  border: none;
  border-bottom: 1px solid #E4E7ED;
}
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
  background-color: #b6cd33;
}
.el-tabs--card .el-tabs__item:hover {
  color: #b6cd33;
}
.el-tabs--card .el-tabs__item.is-active {
  color: #ffffff;
}


/*tiptop*/
/*.el-tooltip__popper.is-dark{*/
  /*background: #f65555;*/
/*}*/

/*.el-tooltip__popper[x-placement^="right"] .popper__arrow{*/
  /*border-right-color: #f65555;*/
/*}*/

/*dialog*/
.el-dialog{
  border-radius: 5px;
  overflow: hidden;
}

.el-dialog__header{
  width: 101%;
  padding: 10px 20px 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  font-size: 13px;
  background: #10465a;
  overflow: hidden;
  text-align: left;
}
.el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close {
  color: #F45E5F;
}

.el-dialog__title{
  font-size: 13px;
  color: #ffffff;
}

.el-dialog__headerbtn{
  top: 13px;
}

.el-dialog__headerbtn .el-dialog__close{
  color: #ffffff;
}

.el-dialog__body{
  padding: 30px 40px;
}

.el-dialog__footer{
  border-top: 1px solid #ebebeb;
  padding: 10px;
}

.el-dialog__wrapper.edit-dialog .el-dialog__footer,
.el-dialog__wrapper.del-dialog .el-dialog__footer,
.el-dialog__wrapper.del-batch-dialog .el-dialog__footer {
  padding: 10px;
}

.el-dialog .el-select {
  width: 100%;
}

/*时间日期选择*/
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: 100%;
}

.el-date-table td.disabled div {
  background-color: #e2e2e2;
  color: #91949a;
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: #e5eefb;
}

/*button*/
.el-button--warning {
  color: #fff;
  background-color: #f16e1f;
  border-color: #f16e1f;
}
.el-button--text {
  color: #8ca909;
}
.el-button--text:focus, .el-button--text:hover {
  color: rgba(140,169,9,0.7);
}
.el-button--warning:focus, .el-button--warning:hover {
  background: #f07e38;
  border-color: #f07e38;
  color: #fff;
}
.el-button--small, .el-button--small.is-round {
  position: relative;
  top: -1px;
}
.el-button--default, .el-button--primary, .el-button--success, .el-button--info, .el-button--warning, .el-button--danger {
  background-color: #11465a;
  border-color: #11465a;
  color: #ffffff;
}
.el-button--default:focus, .el-button--default:hover,
.el-button--primary:focus, .el-button--primary:hover,
.el-button--success:focus, .el-button--success:hover,
.el-button--info:focus, .el-button--info:hover,
.el-button--warning:focus, .el-button--warning:hover,
.el-button--danger:focus, .el-button--danger:hover {
  background-color: rgba(17,70,90,0.6);
  border-color: rgba(17,70,90,0.1);
  color: #ffffff;
}
.el-button--default.is-disabled,
.el-button--default.is-disabled:active,
.el-button--default.is-disabled:focus,
.el-button--default.is-disabled:hover,
.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover,
.el-button--success.is-disabled,
.el-button--success.is-disabled:active,
.el-button--success.is-disabled:focus,
.el-button--success.is-disabled:hover,
.el-button--info.is-disabled,
.el-button--info.is-disabled:active,
.el-button--info.is-disabled:focus,
.el-button--info.is-disabled:hover,
.el-button--warning.is-disabled,
.el-button--warning.is-disabled:active,
.el-button--warning.is-disabled:focus,
.el-button--warning.is-disabled:hover,
.el-button--danger.is-disabled,
.el-button--danger.is-disabled:active,
.el-button--danger.is-disabled:focus,
.el-button--danger.is-disabled:hover {
  background-color: rgba(17,70,90,0.6);
  border-color: rgba(17,70,90,0.1);
  color: rgba(255,255,255,0.7);
}

/*单选按钮、复选框*/
.el-checkbox {
  font-weight: 400;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #11465a;
  border-color: #11465a;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #11465a;
}
.el-checkbox__inner:hover {
  border-color: rgba(17,70,90,0.7);
}

/*下拉选择框*/
.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner, .el-input__inner:hover {
  border-color: #11465a !important;
}

/*输入框样式*/
.el-input .el-input__inner:focus, .el-input .el-input__inner:hover {
  border-color: #11465a !important;
}

/* 非填写状态的span */
.el-form-item-read-only {
  padding-left: 15px;
}

/*分页*/
.el-pager li.active {
  color: #ffffff;
  background-color: #11465a;
  border-radius: 50%;
  min-width: 28px;
  width: 28px;
}
.el-pager li:hover, .el-pagination button:hover {
  color: rgba(17,70,90,0.7);
}
.el-pager li.active:hover {
  color: #ffffff;
}

/*面包屑*/
.el-breadcrumb {
  margin-bottom: 20px;
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner{
  color: #3d9df4;
}

.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
  font-weight: normal;
}

/* 页面加载loading */
.el-loading-mask.page-loading .el-loading-spinner i {
  color: #10465a;
  font-size: 20px;
}
.el-loading-mask.page-loading .el-loading-spinner .el-loading-text {
  color: #10465a;
}
